<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div class="container">

    <div th:replace="fragment/bodyheader :: bodyheader"/>

    <div class="jumbotron">
        <h1>AdullamQT</h1>
        <p class="lead">아둘람 큐티 주문하기 !</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/signin">로그인</a>
            <a class="btn btn-lg btn-secondary" href="/members/signup">회원가입</a>
        </p>
    </div>

    <div th:replace="fragment/footer :: footer"/>

</div>
</body>
</html>