<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>SignUp</title>
</head>
<body>

<div class="form-label-group">
    <input type="email" id="inputName" class="form-control" placeholder="Name" required autofocus>
</div>

<div class="form-label-group">
    <input type="email" id="inputUsername" class="form-control" placeholder="User ID" required autofocus>
</div>

<div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
</div>

<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</body>
</html>